browserstack-local
jsonmerge
multiprocess
paver
selenium==4.6.0
psutil
pytest==9.0.3
pytest-variables
pytest-selenium
Appium-Python-Client
browserstack-sdk @ https://sdk-assets.browserstack.com/python/browserstack_sdk-latest.tar.gz